@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, 'sans-serif';
}

.main-header {
    height: 100vh;
    background: #FFF7F2;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.menu-bar .logo {
    font-weight: 500;
    font-size: 2rem;
    color: #FE6905;
}

.menu-links ul li {
    display: inline-block;
    margin: 0rem 2rem;
}

.menu-links ul li a {
    text-decoration: none;
    color: #0A0857;
}

.banner {
    padding: 1rem 4rem;
    display: flex;
}

.banner .tutor-search {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.banner .tutor-search .search-text {
    font-weight: 500;
    font-size: 4rem;
    color: #0A0857;
}

.banner .tutor-search .search-box form {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30rem;
    height: 4rem;
    padding: 2px;
}

.banner .tutor-search .search-box input {
    flex-grow: 2;
    border: none;
    border-radius: 1rem;
}

.banner .tutor-search .search-box input:focus {
    outline: none;
}

.banner .tutor-search .search-box a {
    position: relative;
    background: #FE6905;
    padding: 1rem;
    margin-right: 4rem;
    border-radius: 1rem;
    color: white;
}

.banner .tutor-search .contact small {
    padding-top: 2rem;
    position: absolute;
    font-weight: 300;
}